body {
    background-image: url(webBG.svg);
    Background-attachment: fixed;
    background-size: contain;
    background-color: #090a2a;
    
}



footer {
    background-color: rgba(168, 168, 168, 0.25);
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}



@font-face
{
   font-family: "m6x11";
   src : url('fonts/m6x11.ttf') format('truetype');

}
@font-face
{
   font-family: "Bitty";
   src : url('fonts/Bitty.ttf') format('truetype');

}

@font-face
{
   font-family: "ThaleahFat";
   src : url('fonts/ThaleahFat.ttf') format('truetype');

}



.scale {
    font-family: "ThaleahFat";
    font-size: 4vw;
    inline-size: min-content;
    line-height: 50%;
    overflow: hidden;
}


.sidebar { 
    position: fixed;
    height: 100%;
    width: 13%;

    
    margin:0;


    left: 0;
    top: 0;
  
    border: 3px solid #090a2a;

   
    background-image: url(left-border-2.svg);
    background-size: 53px 262px;

}

.sidebar-text {
    color: white;
    cursor: pointer;
    padding:1%;
    top:0;
    filter: drop-shadow(0 0 0.25rem crimson);
   
}


.contents{
    font-size: 22px;
    margin-top: 15%;
    font-size: 2vw;
    padding-left: 2%;
    position: relative;
    cursor: pointer;
}


.hover-1 {
    --h: 1.2em;   
    
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) rgb(255, 255, 255), 
      0 calc(var(--h) - var(--_t,0em)) #1095c1;
    overflow: hidden;
    line-height: 50%;
    transition: .3s;
  }
  .alt {
    text-shadow: 
      0 var(--_t,0em) rgb(255, 255, 255), 
      0 calc(var(--_t,0em) - var(--h)) #1095c1;
  }
  .hover-1:hover {
    --_t: var(--h);
  }


    
  .main-bg {
    border-radius: 25px;
    position: fixed;
    width: 87%;
    height: 100%;

    right:0;
    border: 1px solid #090a2a;

    background-image: url(BG.svg);
    Background-attachment: fixed;
    background-position:  auto;
    background-size: cover;
    
    box-shadow: rgba(0, 0, 0, .25) 0 0 0 1000000px inset;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
    }
    .contents {
        top:10px;
        margin-top: 0%;
        position: fixed;
    }
    #home-text {
        float: left;
        margin-left: 25%; 
    }
    #core-text {
        float: right;
        margin-left: 35%;
        
    }
    
    .main-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: 4%;
    }

  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar-text {
      margin-top: 2vh;
      text-align: center;
      float: none;
      font-size: 5vw;
    }
    #home-text {
        float: left;
        margin-left: 35%; 
    }
    #core-text {
        float: right;
        margin-left: 45%;
        
    }
    .contents {
        top:2%;
        height: auto;
        display: inline-block;
    }
    .main-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: 10%;
    }
  }

  /* Let's get this party started */
::-webkit-scrollbar {
    width: 1.75vh;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(56, 21, 138, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(34, 19, 177, 0.4); 
}